.box {
    display: inline-block;
    width: 30%;
    height: 200px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .recommendations-box {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .recommendations-box h2 {
    margin-top: 0;
  }
  
  .recommendations-box ul {
    margin-top: 0;
  }
  
  .bought-products {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .total-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  