@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/* Set body padding and background color */
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}


/* Style for the sign-in form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .sr-only {
  margin-bottom: 10px;
}

/* Style for form controls */
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

/* Style for email input */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Style for password input */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Style for labels */
.form-signin label {
  display: inline-block;
  margin-bottom: 5px;
}

/* Style for buttons */
.btn {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
}

aside {

  display: none;
}
