/* THIS CSS STYLE IS FOR LOG-IN AND SIGN-UP FORM */
/* Set body padding and background color */
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sign-up-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color:#1779ba;
    border: 1px solid whitesmoke;
    border-color: #adadad;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    text-decoration: black;
  }
  
  .sign-up-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-up-form label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .sign-up-form input {
    color: rgb(0, 0, 0);
  }
  
  .sign-up-form input:focus {
    opacity: .8;
  }
  
  .sign-up-form-username,
  .sign-up-form-password {
    border-radius: 30px;
    border: none;
    opacity: .1;
    transition: all ease .4s;
  }
  
  .sign-up-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem;
    transition: all ease .4s;
  }
  
  .sign-up-form-button:hover {
    background-color: #44c8ed;
    border-color: #44c8ed;
  }